<div id="footer">
    <div class="content">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Categories</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms &amp; Conditions</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Support</a></li>
        </ul>
        <p>© @DateTime.Now.Year Renocan.com, All Rights Reserved</p>
    </div>
</div>