
<div id="header">
    <div class="headmain">
        <div class="logo">
            <a href=""><img src="~/Assets/images/logo.png" alt=""></a>
        </div>
        <div class="navigation">
            <ul>
                <li><a href="">Write a Review</a></li>
                <li><a href="">Browse Categories</a></li>
                <li><a href="">Sign Up</a></li>
                <li><a href="">Login</a></li>
                <li><a href="" id="search"><img src="~/Assets/images/search-icon.png" alt=""></a></li>
                <li><a href=""><button>Business Sign Up</button></a></li>
            </ul>
        </div>
        <div class="mobnav">
            <a href="" class="search" id="searchmob"><i class="fa fa-search"></i></a>
            <a href="" class="menu" id="menu"><i class="fa fa-bars"></i></a>
        </div>
    </div>
</div>

