

@model RenocanWeb.Models.RegistrationCompany

@*@{
        ViewBag.Title = "Client_activity";
    }*@

<body>
    <div id="signing">
        <div class="content">
            <form action="">
                <fieldset>
                    <label for="">Full Name</label>
                    <input type="text">
                </fieldset>
                <fieldset>
                    <label for="">Email Address</label>
                    <input type="email">
                </fieldset>
                <fieldset>
                    <label for="">Password</label>
                    <input type="password">
                </fieldset>
                <fieldset>
                    <label for="">Confirm Password</label>
                    <input type="password">
                </fieldset>
                <p>By Clicking Sign Up you agree to Renocan's <a href="">Terms &amp; Conditions</a></p>
                <input type="submit" value="Sign Up">

                <div class="social">
                    <span>Sign Up with Social Accounts</span>
                    <ul>
                        <li><a href="" class="facebook"><i class="fa fa-facebook-official"></i></a></li>
                        <li><a href="" class="twitter"><i class="fa fa-twitter-square"></i></a></li>
                        <li><a href="" class="googleplus"><i class="fa fa-google-plus-square"></i></a></li>
                    </ul>
                </div>

                <!--<div class="error"><span><i class="fa fa-times"></i> Password Do Not Match</span></div>-->
            </form>
        </div>
    </div>
</body>
